<div id="header">
	<div id='lefthead'>
		<a href="{{url_for('showCategories')}}">Catalog App</a>

	</div>
	<div id='righthead'>

		{% if 'username' in session and session['username']!= ''%} {% if
		session['provider']=='facebook'%} {{session['username']}} <a
			href="{{url_for('fbdisconnect')}}"><button type="button">logout</button></a>
		{% elif session['provider']=='google' %} {{session['username']}} <a
			href="{{url_for('gdisconnect')}}"><button type="button">logout</button></a>
		{% endif %} {% else %} <a href='{{url_for("showLogin")}}'><button
				type="button">login</button></a> {% endif %}
	</div>
</div>
