<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<body>
	{% include 'banner.html' %}
	

		<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
		<div id="container">
		<div id="first">
		<h1>Categories</h1>
		{% for i in categories %}
	


		<p>
			<span class="category_items"><a href="{{url_for( 'showCategory',name = i.name)}}">{{i.name}}</a><span class="category_items">
		</p>

		{% endfor %}
		<a href='{{url_for('addCategory')}}'>Add New Category</a>
	</div>
	<div id="second">
	<h1>{{category.name}} Item List:</h1>
	<br /> {% for i in items%}
	<p><a href="{{url_for('showItem',cat_name=category.name,item_name=i.title)}}"><span class="category_items">{{i.title}} </span></a><span class='side'>added on {{i.date.date()}}</span></p>
	{% endfor %}
	</div>
	</div>
	</div>
	
</body>

</html>


<!-- 

</html>
-->