<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

<div id='container'>

<h1> Are you sure you want to delete the Category {{category.name}}? </h1>
<h3>You'll be dooming all these great items. Think of the children!!!!</h3>
<div id="itempage">
{% if items.count()>0 %}
<ul>

{% for i in items %}
<li>{{i.title}}</li>
{% endfor %}
</ul>
{% else %}
<h3>Nevermind it has not items...DEATH TO THE CATEGORY!!!!</h3>
{% endif %}
<form action="{{ url_for('deleteCategory', category_id = category.id )}}" method = 'POST'>

<input type='submit' value = 'Delete'>




</form>

<a href = "{{ url_for('showCategories')}}"> Cancel </a>
</div>
</div>
</body>

</html>