<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
{% include 'banner.html' %}
<div id='container'>
<h1> Are you sure you want to delete {{item.title}}? </h1>

<form action="{{ url_for('deleteItem', item_id=item.id)}}" method = 'POST'>

<input type='submit' value = 'Delete'>



</form>

<a href = "{{ url_for('showCategory',category_id= item.category_id)}}"> Cancel </a>
</div>
</body>

</html>