<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
{% include 'banner.html' %}
<div id='container'>
<h1>Item: {{item.name}}</h1>
<div id="itempage">
	
	<p>
	<ol>
		<li>Title:{{item.title}}</li>
		<li>desc:{{item.description}}</li>
		<li>price:{{item.price}}</li>
		<li>created_date:{{item.date}}</li>
		<li>Picture<img src="{{item.picture_url}}" alt="{{item.title}}" /></li>
	</ol>
	</p>
	<form action="{{url_for('editItem', item_id = item.id)}}"
		method='POST'>
	Title
	<input type='text' name='title' value='{{item.title}}' />
	<br /> desc
	<textarea rows="4" cols="50" name="desc" type="text" >{{item.description}}</textarea>
	<br /> price
	<input type='text' name='price' value='{{item.price}}' />
	<br /> picture Url
	<input type='text' name='picUrl' value='{{item.picture_url}}' />
	<br /> 
	
	Category<select name='category_id'>
        {% for i in categories %}
        <option value={{i.id}}>{{i.name}}</option>
        {% endfor %}
        </select>
        <br/>
	<input type='submit' value='Edit'> <a href = "{{ url_for('showCategories')}}"> Cancel </a>
	
	</form>
	</div>
	</div>
</body>

</html>