<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
	{% include 'banner.html' %}
	

		<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
		<div id="container">
		<div id="first">
		<h1>Categories</h1>
		{% for i in categories %}
	


		<p>
			<span class="category_items"><a href="{{url_for( 'showCategory',name = i.name)}}">{{i.name}}</a></span>
			{% if 'username' in session and session['username']!= ''%}
			<a href="{{url_for('deleteCategory',category_id=i.id)}}"><button type="button">Delete</button></a>
			{% endif %}
		</p>

		{% endfor %}
		<a href='{{url_for('addCategory')}}'>Add New Category</a>
	</div>
	<div id="second">
	{% if 'username' in session and session['username']!= ''%}
	<a href="{{url_for( 'newItem')}}">add new item</a>
	{% endif %}
	<h1>Latest Items</h1>
	<br />
	{% for i in items%}
	<p><a href="{{url_for('showItem',cat_name=i[1].name,item_name=i[0].title)}}"><span class="category_items">{{i[0].title}}</span></a> <span class='side'>({{i[1].name}}) added on {{i[0].date.date()}}<span></span></p>
	{% endfor %}
	{{authorized}}
	{% if authorized %}
	<h1>pie</h1>
	{% endif%}
	</div>
	</div>
	</div>
</body>

</html>