<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
{% include 'banner.html' %}
<div id='container'>

	<h1>{{item.title}}</h1>
	<div id='itempage'
	<p>Picture<img src="{{item.picture_url}}" alt="{{item.title}}" /></p>
	<p>	desc:<br/>{{item.description}}</p>
	<p>price:<br/>{{item.price}}</p>
	<p>created_date:<br/>{{item.date}}</p>
	
	{% if 'username' in session and session['username']!= ''%}
	<a href="{{url_for('editItem',name=cat_name,item_name=item.title)}}">edit</a> |
	<a href="{{url_for('deleteItem',item_name = item.title)}}">delete</a> 
	{% endif %}
	</div>
	</div>
</body>

</html>