<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
{% include 'banner.html' %}

<div id='container'>
	<h1>Add New Category</h1>



	<form action="{{url_for('addCategory' )}}" method='POST'>

		Name <input type='text' size='30' name='name'><br />

		description<input name="description" type="text"><br /> <input
			type='submit' value='Create'>

	</form>
</div>
</body>
</html>