<html>
<head>

<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
{% include 'banner.html' %}
<div id='container'>

<h1>Add new Item</h1>
<div id='itempage'>



<form action="{{url_for('newItem')}}" method = 'POST'>
<table>
<tr><th>Name</th> <th><input type='text' size='30' name='title'></th></tr>
 
<tr><th>description</th><th><textarea rows="4" cols="50" name="description" type="text" ></textarea></th></tr>
 <tr><th>price</th><th><input name="price" type="text" ></th></tr>
 <tr><th>picture Url</th><th><input type='text' name='picUrl' /></th></tr>
	
 <tr><th>Category</th><th><select name='category_id'>
        {% for i in categories %}
        <option value={{i.id}}>{{i.name}}</option>
        {% endfor %}
        </select></th></tr>
<tr><th><input type='submit' value='Create'></tr></th>
</table>
</form>
</div>
</div>
</body>
</html>