<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>
<body>
{% include 'TrainerPages/banner.html' %}

	<div id="container">
	<p><table>
	<tr><td>First Name:</td><td>{{user.first_name}}</td></tr>
	<tr><td>Last Name:</td><td>{{user.last_name}}</td></tr>
	<tr><td>Middle Name:</td><td>{{user.middle_name}}</td></tr>
	<tr><td>Username:</td><td>{{user.username}}</td></tr>
	<tr><td>Phone Number:</td><td>({{user.phoneNumber[:3]}})-{{user.phoneNumber[3:6]}}-{{user.phoneNumber[-4:]}}</td></tr>
	<tr><td>Email:</td><td>{{user.email}}</td></tr>
	<tr><td>Date Started:</td><td>{{user.dateStarted}}</td></tr>
	</table></p>
	{% if session['user_id']==user.user_id or session['privileges']['isAdmin']==1 %}
	<a href="{{url_for('editUser',user_id=user.user_id)}}">Edit</a>
	{% endif %}
	</div>
</body>
<table>

</html>