	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">SKF</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('trainerHome')}}">Home</a></li>
	 {% if 'user_id' in session and (session['privileges']['isAdmin']==1 or session['privileges']['isTrainer']==1) %}
	 {% include 'navbar/trainerNav.html' %}
	 {% elif 'user_id' in session and session['privileges']['isActiveClient'] %}
	 {% include 'navbar/clientNav.html' %}
	 {% endif %}
	 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" >Trainers<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('showTrainers')}}">All Trainers</a></li>        
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
      {% if 'user_id' in session and session['username']!= ''%}
      <li><div style="padding-top:10%"><a href="{{url_for('showAccount')}}"><img alt="" src="{{session['picture']}}" class=" img-rounded img-responsive" style="width:45px;height:45px;" ></a></div></li>
       <li><a href="{{url_for('showAccount')}}"><!--  <span class="glyphicon glyphicon-user"></span> -->{{session['username']}}</a></li>
		{% if session['provider']=='facebook'%} 
			<li><a href="{{url_for('fbdisconnect')}}">logout</a></li> 
		{% elif	session['provider']=='google' %} 
		<li><a href="{{url_for('gdisconnect')}}">logout</a></li> 
		{% elif	session['provider']=='native' %} 
		<li><a href="{{url_for('nativeLogout')}}">logout</a></li> 
		{% endif %} 
	  {% else %} 
	  <li><a href="{{url_for('showLogin')}}">Login</a></li> 
	  <li><a href="{{url_for('newUser')}}">Sign Up</a></li> 
	 {% endif %}
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      </ul>
    </div>
  </div>
</nav>