<html>

<head>
{% include 'TrainerPages/css_scripts.html' %}


<script type="application/javascript">

var pls={{list}}
/*[

  {
    "date":"2015-10-31",
    "badge":true,
    "title":"name",
    "body":"<p class=\"lead\">Party<\/p><p>Like it's 1999.<\/p>",
    "footer":"At Paisley Park",
    "classname":"event event-clickable",
    modal: true
  }
  
  ]*/

	var eventData = [
    	{"date":"2015-10-01","badge":false,"title":"Example 1","body":"<p class=\"lead\">Party<\/p><p>Like it's 1999.<\/p>",modal: true},
    	{"date":"2015-10-02","badge":true,"title":"Example 2",modal: true}
	];
	var jsondata = [{"date": "2015-10-02","eventid": 20,"badge": true, "classname": "event"},    { "date": "2014-10-03", "eventid": 20, "badge": true, "classname": "event" }];
	$(document).ready(function () {
		$("#demo").zabuto_calendar({
  			data: pls,	
		});
	});
	</script>
</head>
<body>
{% include 'TrainerPages/banner.html' %}
<div class="container">
	<span
		style="font-family: Monaco, Menlo, Consolas, 'Courier New', monospace; font-size: 13px; line-height: 18px; white-space: pre-wrap; background-color: rgb(255, 255, 255);"><div
			id="demo"></div></span>
{% if 'mine'  in request.args and user is not none %}
<h2>{{user.first_name}}'s Sessions Today {{date}}</h2>
{% else %}
<h2>All Sessions Today {{date}}</h2>
{% endif %}
{% for a in sess %}
	{% if a[0].date == date %}
	<h2>{{a[0].name}}</h2>
	<p><table>
	<tr><td>Trainer:</td> <td>{{a[1].first_name}} {{a[0].last_name}}<td></tr>
	<tr><td>Start Time:</td><td>{{a[0].start_time}}</td></tr>
	<tr><td>End Time:</td><td>{{a[0].end_time}}</td></tr>
	<tr><td>Location:</td><td>{{a[0].location}}</td></tr>
	<tr></tr>
	</table></p>
		{% if a[0].creator_id ==session["user_id"] %}
		<p><a href ="{{url_for('editSession',session_id=a[0].session_id)}}"><button>Edit</button></a>|<a href ="{{url_for('deleteSession',session_id=a[0].session_id)}}"><button>Delete</button></a></p>
		{% endif %}
	{% endif %}
{% endfor %}
</div>
</body>

</html>