<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>
<body>
{% include 'TrainerPages/banner.html' %}
	<h1>Changing permissions</h1>
	<h2>{{user.first_name}} {{user.last_name}}</h2>
	<form action="{{url_for('changePermissions',user_id=user.user_id)}}" method="POST">
	{% if user.isAdmin!=admin %}
	<p>This users Admin permission is changing to</p>
	{% if admin==1 %}
	Admin:<input type="hidden" value={{admin}} name="admin" /><button type="button" class="btn btn-primary btn-sm disabled">Yes</button></p>
	{% else %}
	Admin:<input type="hidden" value={{admin}} name="admin" /><button type="button" class="btn btn-primary btn-sm disabled">No</button></p>
	{% endif %}
	{% endif %}
	
	{% if user.isTrainer!=trainer %}
	<p>This users Trainer permission is changing to</p>
	{% if trainer==1 %}
	trainer:<input type="hidden" value={{trainer}} name="trainer" /><button type="button" class="btn btn-primary btn-sm disabled">Yes</button></p>
	{% else %}
	trainer:<input type="hidden" value={{trainer}} name="trainer" /><button type="button" class="btn btn-primary btn-sm disabled">No</button></p>
	{% endif %}
	{% endif %}
	<input type="submit" value="submit Changes" />
	</form>
	{{user.isTrainer!=trainer}}
</body>

</html>