<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>
<body>
{% include 'TrainerPages/banner.html' %}
<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
	<div id="container">
	<h1>All clients:</h1>
	{% for user in users %}
	<p><button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#demo{{user.user_id}}">{{user.first_name}} {{user.last_name}}</button>
  <div id="demo{{user.user_id}}" class="collapse">
  	<form action="{{url_for('changePermissions',user_id=user.user_id)}}" method="POST">
	<p><table>
	<tr><td>First Name:</td><td>{{user.first_name}}</td></tr>
	<tr><td>Last Name:</td><td>{{user.last_name}}</td></tr>
	<tr><td>Middle Name:</td><td>{{user.middle_name}}</td></tr>
	<tr><td>Username:</td><td>{{user.username}}</td></tr>
	<tr><td>Phone Number:</td><td>{{user.phoneNumber}}</td></tr>
	<tr><td>Email:</td><td>{{user.email}}</td></tr>
	<tr><td>Date Started:</td><td>{{user.dateStarted}}</td></tr>
	<input type="hidden" name="info" value=true />
	<tr><td>Admin:</td><td><input type="radio" name="admin" value="1" {% if user.isAdmin==1 %}checked{% endif %}>Yes<br>
		<input type="radio" name="admin" value="0" {% if user.isAdmin!=1%}checked{% endif %}>No</td></tr>
	<tr><td>Trainer:</td><td><input type="radio" name="trainer" value="1" {% if user.isTrainer==1%}checked{% endif %}>Yes<br>
		<input type="radio" name="trainer" value="0" {% if user.isTrainer!=1%}checked {% endif %}>No</td></tr>
	</table></p>
	<input type='submit' value='Change'>
	</table></p>
	</form>
	</div></p>
	{% endfor %}
	</div>
</body>
<table>

</html>