<html>
{% if prev is defined %}
{% set prevReal = [True] %}
{% else %}
{% set prevReal = [False] %}
{% endif %}
<head>
{% include 'TrainerPages/css_scripts.html' %}
<script type="application/javascript">
$(document).ready(function () {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
var checkin = $('#dpd1').datepicker({
  onRender: function(date) {
    return date.valueOf() < now.valueOf() ? 'disabled' : '';
  },
format: "yyyy-mm-dd"
})/*
	 * .on('changeDate', function(ev) { if (ev.date.valueOf() >
	 * checkout.date.valueOf()) { var newDate = new Date(ev.date)
	 * newDate.setDate(newDate.getDate() + 1); checkout.setValue(newDate); }
	 * checkin.hide(); $('#dpd2')[0].focus(); }).data('datepicker'); var
	 * checkout = $('#dpd2').datepicker({ onRender: function(date) { return
	 * date.valueOf() <= checkin.date.valueOf() ? 'disabled' : ''; }
	 * }).on('changeDate', function(ev) { checkout.hide();
	 * }).data('datepicker');
	 */
$('#start_time').timepicker();
$('#end_time').timepicker();
})

$(document).ready(function () {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
var checkin = $('#dpd1').datepicker({
  onRender: function(date) {
    return date.valueOf() < now.valueOf() ? 'disabled' : '';
  },
format: "yyyy-mm-dd"
})/*
	 * .on('changeDate', function(ev) { if (ev.date.valueOf() >
	 * checkout.date.valueOf()) { var newDate = new Date(ev.date)
	 * newDate.setDate(newDate.getDate() + 1); checkout.setValue(newDate); }
	 * checkin.hide(); $('#dpd2')[0].focus(); }).data('datepicker'); var
	 * checkout = $('#dpd2').datepicker({ onRender: function(date) { return
	 * date.valueOf() <= checkin.date.valueOf() ? 'disabled' : ''; }
	 * }).on('changeDate', function(ev) { checkout.hide();
	 * }).data('datepicker');
	 */
$('#start_time').timepicker();
$('#end_time').timepicker();

$("#tName").select2();
$("#attendees").select2({
placeholder: "Select Particpants"
});
 $("input[name='slots']").TouchSpin({
 	 initval: 5,
 	 max:50,
 	 buttondown_class: "btn btn-link",
     buttonup_class: "btn btn-link"
  })
  if($("#exercises").length){
		//alert("pie")
	}
 $('#addEx').on('click', function() {
		//alert("ll")
	   $('<tr><td></td><td><span id="ex1"><!--<select id="exercises" name="planned_exercises">{% for ex in exercises %}<option value={{ex.ex_id}}>{{ex.name}}</option>{% endfor %}</select>--><input type="text" id="exercises" name="planned_exercises" /><button  type="button" onClick="deleteSelf(this)"  class="btn btn-primary btn-xs">delete</button></td></tr>').insertBefore($("#addExBut"));
		$('#exercises').select2();
	});
	
	$('#exercises').select2();
})

function deleteSelf(obj){
	$(obj).parent().remove()
}

</script>

</head>

<body>

<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
	{% include 'TrainerPages/banner.html' %}
	<div class="container">
	<h2>Create A Session</h2>
	<form action={{url_for('newSession')}} method='POST'>
	<p><table>
	<tr><td>Name:</td><td><input type="text"  name="name" /></td></tr>
	<tr><td>Trainer:</td>{% if 'username' in session and session['privileges']['isAdmin']==1 %}
					 <td><select id="tName" name="tName">
  					{% for a in trainers %}
 						<option value="{{a.user_id}}">{{a.first_name}} {{a.last_name}}</option>
  					{%endfor%}
  					
  					
					</select><td>
					{% else %}
						{% for a in trainers %}
	 						{% if a.user_id ==session['user_id'] %}
	 							<td>{{a.first_name}} {{a.last_name}}</td>
	 							<input type="hidden" value="{{a.user_id}}" name="tName">
	 						{% endif %}
	  					{%endfor%}
						
					{% endif %}
					</tr>
	<tr><td>Date:</td> <td><input type="text" id="dpd1"  name="date"></td></tr>
	<tr><td>Start Time:</td><td><div class="input-group bootstrap-timepicker timepicker">
            <input id="start_time" name="start_time" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div></td></tr>
	<tr><td>End Time:</td><td><div class="input-group bootstrap-timepicker timepicker">
            <input name="end_time" id="end_time" type="text"  class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div></td></tr>
	<tr><td>Slots:</td><td><input style="width: 50px;" id="slots" type="text" name="slots"></td></tr>
	<tr><td>Planned Exercises:</td><td><span id="ex1"> <input type="text" name="planned_exercises" id="exercises"/></span></td></tr>
	
	<tr id="addExBut"><td></td><td><button id="addEx" type="button"  class="btn btn-primary btn-xs">Add Exercise</button></td></tr>
	<tr><td>Location:</td><td><input type="text" name="location"></td></tr>
	<tr><td>Notes:</td><td><textarea name="notes"></textarea></td></tr>
	<tr><td>Participants:</td><td><select id="attendees" style="width:100%" name="attendees" multiple="multiple"> 
	
	
	<optgroup label="All Trainees">
	{% for users  in allUsers %}
			<option style="padding-left:1em" value={{users.user_id}}> {{users.last_name}}, {{users.first_name}}</option>
	{% endfor %}
	</optgroup>
	</select></td></tr>
	</table></p>
	<input type='submit' value='Create'>
	</form>
	</div>
	
</body>


</html>
