<html>
{% if prev is defined %}
{% set prevReal = [True] %}
{% else %}
{% set prevReal = [False] %}
{% endif %}
<head>
{% include 'TrainerPages/css_scripts.html' %}
</head>

<body>
<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
	{% include 'TrainerPages/banner.html' %}
	<div class="container">
	<h2>Create Staff Member</h2>
	<form action="{{url_for('newUser')}}" method='POST'>
	<p><table>
	<tr><td>First Name:</td><td><input type="text" name="first_name"/></td></tr>
	<tr><td>Last Name:</td><td><input type="text" name="last_name"/></td></tr>
	<tr><td>Middle Name:</td><td><input type="text" name="middle_name"/></td></tr>
	<tr><td>Username:</td><td><input type="text" name="username"/></td></tr>
	<tr><td>Password:</td><td><input type="password" name="password"/></td></tr>
	<tr><td>Password Again:</td><td><input type="password" name="checkPass"/></td></tr>
	<tr><td>Phone Number:</td><td>(<input type="text" name="phone1" size="3" maxlength="3"/>)-<input type="text" name="phone2" size="2" maxlength="3"/>-<input type="text" name="phone3" size="3" maxlength="4"/></td></tr>
	<tr><td>Email:</td><td><input type="text" name="email"/></td></tr>
	<tr><td>Profile Picture:</td><td><input type=file name="pic"></td></tr> 
	<tr><td>Admin:</td><td><input type="radio" name="admin" value="1" >Yes<br>
		<input type="radio" name="admin" value="0" checked>No</td></tr>
	<tr><td>Trainer:</td><td><input type="radio" name="trainer" value="1" checked>Yes<br>
		<input type="radio" name="trainer" value="0">No</td></tr>
	</table></p>
	<input type='submit' value='Create'>
	</form>
	</div>
	
</body>


</html>