<html>
{% if prev is defined %}
{% set prevReal = [True] %}
{% else %}
{% set prevReal = [False] %}
{% endif %}
<head>
{% include 'TrainerPages/css_scripts.html' %}

<script type="text/javascript">
$(document).ready(function () {
	$("#trainer").select2({width: 'resolve',
	placeholder: "Trainres"
	});
})

</script>
</head>

<body>
<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
	{% include 'TrainerPages/banner.html' %}
	<div class="container">
	<h2>Create Profile</h2>
	<form action="{{url_for('newUser')}}" method='POST' enctype="multipart/form-data">
	<p><table>
	<tr><td>First Name:</td><td><input type="text" name="first_name"/></td></tr>
	<tr><td>Last Name:</td><td><input type="text" name="last_name"/></td></tr>
	<tr><td>Middle Name:</td><td><input type="text" name="middle_name"/></td></tr>
	<tr><td>Username:</td><td><input type="text" name="username"/></td></tr>
	<tr><td>Password:</td><td><input type="password" name="password"/></td></tr>
	<tr><td>Password Again:</td><td><input type="password" name="checkPass"/></td></tr>
	<tr><td>Phone Number:</td><td>(<input type="text" name="phone1" maxlength="3" size="3"/>)-<input type="text" size="2" name="phone2" maxlength="3"/>-<input type="text" size="3"name="phone3" maxlength="4"/></td></tr>
	<tr><td>Email:</td><td><input type="text" name="email"/></td></tr>
	<tr><td>Profile Picture:</td><td><input type=file name="pic"></td></tr> 
	{% if 'privileges' in session and session['privileges']['isAdmin']==1 %}
	<tr><td>Trainer:</td><td><select id="trainer" name="trainer"> 
	{% for trainer in trainers %}
	<option value={{trainer.user_id}}>{{trainer.first_name}} {{trainer.last_name}}</option>
	{% endfor %}
	</select></td></tr>
	{% endif %}
	</table></p>
	<input type='submit' value='Create'>
	</form>
	</div>
	
</body>


</html>