<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<script	src="{{ url_for('static', filename='scripts/JQuery/jquery-2.1.4.min.js') }}"></script>
<link rel="stylesheet"	href="{{ url_for('static', filename='scripts/bootstrap-3.3.5-dist/css/bootstrap.min.css')}}"/>
<script	src="{{ url_for('static', filename='scripts/bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
<script	src="{{ url_for('static', filename='scripts/datepicker/js/bootstrap-datepicker.js')}}"></script>
<link rel="stylesheet"	href="{{ url_for('static', filename='scripts/datepicker/css/datepicker.css')}}"/>

<link rel="stylesheet"	href="{{ url_for('static', filename='scripts/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}}"/>
<script	src="{{ url_for('static', filename='scripts/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}"></script>

<script	src="{{ url_for('static', filename='scripts/select2-3.5.3/select2.min.js')}}"></script>
<link rel="stylesheet"	href="{{ url_for('static', filename='scripts/select2-3.5.3/select2-bootstrap.css')}}"/>
<link rel="stylesheet"	href="{{ url_for('static', filename='scripts/select2-3.5.3/select2.css')}}"/>

<script	src="{{ url_for('static', filename='scripts/bootstrap-touchspin/src/jquery.bootstrap-touchspin.js')}}"></script>
<link rel="stylesheet"	href="{{ url_for('static', filename='scripts/bootstrap-touchspin/src/jquery.bootstrap-touchspin.css')}}"/>
<script src="{{ url_for('static', filename='scripts/zabuto/zabuto_calendar.min.js')}}"></script>

<link rel="stylesheet" type="text/css"	href="{{ url_for('static', filename='scripts/zabuto/zabuto_calendar.min.css')}}"/>

<script	src="{{ url_for('static', filename='scripts/Bootstrap-3-Typeahead-master/bootstrap3-typeahead.min.js')}}"></script>
<!-- <script	src="{{ url_for('static', filename='scripts/Bootstrap-3-Typeahead-master/bootstrap3-typeahead.js')}}"></script>-->