<html>
<head>

</head>
<body>

<div id='container'>

<h1> Are you sure you want to delete this Session? </h1>

<div id="itempage">
{% if sess[0].attendees|length>0 %}
<h3>Please be sure to notify all these people that their session has been cancelled.</h3>
<ul>

{% for i in sess[0].attendees %}
<li>{{i.name}}</li>
{% endfor %}
</ul>
{% else %}
<h3>There are no people for this session</h3>
{% endif %}
<form action="{{ url_for('deleteSession', session_id = sess[0].session_id )}}" method = 'POST'>

<input type='submit' value = 'Delete'>




</form>

<a href = "{{ url_for('trainerHome')}}"> Cancel </a>
</div>
</div>
</body>

