<html>
{% if prev is defined %}
{% set prevReal = [True] %}
{% else %}
{% set prevReal = [False] %}
{% endif %}
<head>
{% include 'TrainerPages/css_scripts.html' %}
</head>

<body>
<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
	{% include 'TrainerPages/banner.html' %}
	<div class="container">
	<h2>Edit {{user.username}}</h2>
	<form action="{{url_for('editUser',user_id=user.user_id)}}" method='POST'  enctype="multipart/form-data">
	<p><table>
	<tr><td>First Name:</td><td><input type="text" name="first_name" value="{{user.first_name}}"/></td></tr>
	<tr><td>Last Name:</td><td><input type="text" name="last_name" value="{{user.last_name}}"/></td></tr>
	<tr><td>Middle Name:</td><td><input type="text" name="middle_name" value="{{user.middle_name}}"/></td></tr>
	<tr><td>Username:</td><td><input type="text" name="username" value="{{user.username}}"/></td></tr>
	<tr><td>Phone Number:</td><td>(<input type="text" name="phone1" maxlength="3" size="3" value="{{user.phoneNumber[:3]}}"/>)-<input type="text" name="phone2" maxlength="3" size="2" value="{{user.phoneNumber[3:6]}}"/>-<input type="text" name="phone3" maxlength="4" size="3" value="{{user.phoneNumber[-4:]}}" /></td></tr>
	<tr><td>Email:</td><td><input type="text" name="email" value="{{user.email}}"/></td></tr>
	<tr><td>Profile Picture:</td><td><input type=file name="pic"></td></tr> 
	</table></p>
	<input type='submit' value='edit'>
	</form>
	</div>
	
</body>


</html>