<html>

<head>
{% include 'TrainerPages/css_scripts.html' %}
<script type="application/javascript">

$(document).ready(function () {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
var checkin = $('#dpd1').datepicker({
  onRender: function(date) {
    return date.valueOf() < now.valueOf() ? 'disabled' : '';
  },
format: "yyyy-mm-dd"
})/*
	 * .on('changeDate', function(ev) { if (ev.date.valueOf() >
	 * checkout.date.valueOf()) { var newDate = new Date(ev.date)
	 * newDate.setDate(newDate.getDate() + 1); checkout.setValue(newDate); }
	 * checkin.hide(); $('#dpd2')[0].focus(); }).data('datepicker'); var
	 * checkout = $('#dpd2').datepicker({ onRender: function(date) { return
	 * date.valueOf() <= checkin.date.valueOf() ? 'disabled' : ''; }
	 * }).on('changeDate', function(ev) { checkout.hide();
	 * }).data('datepicker');
	 */
$('#start_time').timepicker();
$('#end_time').timepicker();
})
$(document).ready(function () {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
var checkin = $('#dpd1').datepicker({
  onRender: function(date) {
    return date.valueOf() < now.valueOf() ? 'disabled' : '';
  },
format: "yyyy-mm-dd"
})/*
	 * .on('changeDate', function(ev) { if (ev.date.valueOf() >
	 * checkout.date.valueOf()) { var newDate = new Date(ev.date)
	 * newDate.setDate(newDate.getDate() + 1); checkout.setValue(newDate); }
	 * checkin.hide(); $('#dpd2')[0].focus(); }).data('datepicker'); var
	 * checkout = $('#dpd2').datepicker({ onRender: function(date) { return
	 * date.valueOf() <= checkin.date.valueOf() ? 'disabled' : ''; }
	 * }).on('changeDate', function(ev) { checkout.hide();
	 * }).data('datepicker');
	 */
$('#start_time').timepicker();
$('#end_time').timepicker();

$("#tName").select2({width: 'resolve'});
$("#attendees").select2({
placeholder: "Select Particpants"
});
 $("input[name='slots']").TouchSpin({
 	 initval: {{sess[0].slots}},
 	 max:50,
 	 buttondown_class: "btn btn-link",
     buttonup_class: "btn btn-link"
  }).on('change',function(){
  		
  		$('#slotsAvailable').html($("input[name='slots']").val()-({{sess[0].slots}}-{{sess[0].slotsAvailable}}))
  			});

 if($("#exercises").length){
		// alert("pie")
	}
$('#addEx').on('click', function() {
		// alert("ll")
	   $('<tr><td></td><td><span id="ex1"><input type="text" name="planned_exercises" /><button  type="button" onClick="deleteSelf(this)"  class="btn btn-primary btn-xs">delete</button></td></tr>').insertBefore($("#addExBut"));
	});

})

function deleteSelf(obj){
	$(obj).parent().remove()
}
</script>

</head>

<body>
<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
	{% include 'TrainerPages/banner.html' %}
	<div class="container">
	<form action={{url_for('editSession',session_id=sess[0].session_id)}} method='POST'>
	<h2>{{sess[0].name}}</h2>
	<p><table>
	<tr><td>Name:</td><td><input type="text" value="{{sess[0].name}}" name="name" /></td></tr>
	<tr><td>Trainer:</td> <td><select id="tName" name="tName" size=9>
  					{% for a in trainers %}
 					 {% if a.user_id == sess[0].creator_id %}
  						<option value="{{a.user_id}}" selected>{{a.first_name}} {{a.last_name}}</option>
  					 {% else %}
   						<option value="{{a.user_id}}">{{a.first_name}} {{a.last_name}}</option>
  					{% endif %}
  						{%endfor%}
					</select><td></tr>
	<tr><td>Date:</td> <td><input type="text" value="{{sess[0].date}}" id="dpd1" name="date"></td></tr>
	<tr><td>Start Time:</td><td><div class="input-group bootstrap-timepicker timepicker">
            <input id="start_time" name="start_time" type="text" value="{{sess[0].start_time}}" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div></td></tr>
	<tr><td>End Time:</td><td><div class="input-group bootstrap-timepicker timepicker">
            <input name="end_time" id="end_time" type="text" value="{{sess[0].end_time}}" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div></td></tr>
	<tr><td>Slots:</td><td> <input style="width: 50px;" id="slots" type="text" name="slots"></td></tr>
	<tr><td>Slots Availiable:</td><td><span id="slotsAvailable">{{sess[0].slotsAvailable}}</span></td></tr>
	<tr><td>Planned Exercises:</td><td><span id="ex1"><input type="text" name="planned_exercises" value="{{sess[0].exercises[0]}}" /></span></td></tr>
	{% for ex in range(1,(sess[0].exercises|length)-1) %}
	<tr><td></td><td><span id="ex1"><input type="text" name="planned_exercises" value="{{sess[0].exercises[ex]}}" /><button  type="button" onClick="deleteSelf(this)"  class="btn btn-primary btn-xs">delete</button></td></tr>
	{% endfor %}
	<tr id="addExBut"><td></td><td><button id="addEx" type="button"  class="btn btn-primary btn-xs">Add Exercise</button></td></tr>
	<tr><td>Location:</td><td><input type="text" name="location" value="{{sess[0].location}}"></td></tr>
	<tr><td>Notes:</td><td><textarea name="notes">{{sess[0].notes}}</textarea></td></tr>
	<tr><td>Participants:</td><td><select id="attendees" style="width:100%" name="attendees" multiple="multiple"> 
	<optgroup label="Original Attendees">
	{% for a in sess[0].attendees %}
	<option value={{a.user_id}} selected>{{a.last_name}}, {{a.first_name}}</option>
	{% endfor %}
	
	{% if sess[0].attendees|length <=0 %}
	<option disabled>None</option>
	<option></option>
	{% endif %}
	
	</optgroup>
	<optgroup label="{{sess[1].first_name}} {{sess[1].last_name}} Trainees">
	
	{% for yourTrainees  in trainerUsers %}
			<option value={{yourTrainees.user_id}} >{{yourTrainees.last_name}}, {{yourTrainees.first_name}}</option>	
	{% endfor %}
	</optgroup>
	
	<optgroup label="Everyone Else">
	{% for notYourTrainees  in notTrainerUsers %}
		<option value={{notYourTrainees.user_id}} >{{notYourTrainees.last_name}}, {{notYourTrainees.first_name}}</option>
	{% endfor %}
	</optgroup>
	</select></td></tr>
	</table></p>
	<input type='submit' value='Edit'>
	</form>
	
</div>	
<div id='dpd2'></div>
</body>


</html>
