<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>
<body>
{% include 'TrainerPages/banner.html' %}

	<div id="container">
	
	<div id="first">
	</div>
    <div id="second">
    </div>
	</div>
</body>

</html>