<!DOCTYPE html>
<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}
<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />


<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>


<body>
{% include 'TrainerPages/banner.html' %}
<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li> {% endfor %}
		</ul>
		{% endif %} {% endwith %} 
<div id='container'>
<h1>Login</h1>
<form action="{{url_for('nativeLogin')}}" method="POST">
<p><table>
<tr><td>Username or Email:</td><td><input type="text" name="identity"/></td></tr>
<tr><td>Password:</td><td><input type="password" name="pass"/></td></tr>
<tr><td><input type="submit" value="login"/></td></tr>
</table>
</p>
</form>
<p>Or sign in via facebook or your google+ account</p>
<br/>
<script type="text/javascript">
	function nativeSubmit(){
		
	}
</script>
	<!-- GOOGLE PLUS SIGN IN-->

	<table>
	<tr><td><div id="signInButton">
		<span class="g-signin" data-scope="openid email"
			data-clientid="877026864104-5td0ulgs5fgfl8i60g0g09p6j3t4inh8.apps.googleusercontent.com"
			data-redirecturi="postmessage" data-accesstype="offline"
			data-cookiepolicy="single_host_origin" data-callback="signInCallback"
			data-approvalprompt="force"> </span>
	</div></td>
	<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    console.log("here");
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/categories";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>



	<!--END GOOGLE PLUS SIGN IN -->


	<!-- FACEBOOK LOGIN -->
	<script>
   window.fbAsyncInit = function() {
    FB.init({
      appId      : '836601066458687',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         
          if(!(result.indexOf("<!--edit-->")>=0)){
          	
	         setTimeout(function() {
	          window.location.href = "{{url_for('trainerHome')}}";
	         }, 2000);
          }else{
           setTimeout(function() {
	          window.location.href = "{{url_for('editUser')}}";
	         }, 10000);
	        }
      } else {
        $('#result').html('An error has occured');
         }
      }
      
  });
    });
  }
 </script>


	<td><button>


		<fb:login-button scope="public_profile,email,"
			onlogin="sendTokenToServer();">
			<a href='javascript:sendTokenToServer()'>Login with Facebook</a>

		</fb:login-button>


	</button></td></tr>
	</table>
	<!--END FACEBOOK SIGN IN -->
<span id='result'></span>
</div>
</body>

</html>