<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>
<body>
{% include 'TrainerPages/banner.html' %}
<!-- Todo -->

<!-- view Reports about trainers -->
<!-- Keep track of how many sessions a person has left -->
<!-- view monotary reports -->
<!-- send emails -->
<!-- assign Trainers to clients -->
	<div id="container">
	<h3>Look at permissions for:</h3>
	<a href="{{url_for('changePermissions',user_type='admin')}}">admins</a><br/>
	<a href="{{url_for('changePermissions',user_type='trainer')}}">trainers</a><br/>
	<a href="{{url_for('changePermissions',user_type='client')}}">clients</a><br/>
	<h3>Add new Staff:</h3>
	<a href="{{url_for('newStaff')}}"">Add new Staff</a><br/>
	
	
	</div>
</body>

</html>