<html>

<head>

{% include 'TrainerPages/css_scripts.html' %}


<body>
{% include 'TrainerPages/banner.html' %}
	<div class="container">
	<h2>{{sess[0].name}}</h2>
	<p><table>
	<tr><td>Trainer:</td> <td>{{sess[1].first_name}} {{sess[0].last_name}}<td></tr>
	<tr><td>Date:</td> <td>{{sess[0].date}}</td></tr>
	<tr><td>Start Time:</td><td>{{sess[0].start_time}}</td></tr>
	<tr><td>End Time:</td><td>{{sess[0].end_time}}</td></tr>
	<tr><td>Slots:</td><td>{{sess[0].slots}}</td></tr>
	<tr><td>Planned Exercises:</td><td>{{sess[0].exercises[0]}}</td></tr>
	{% for  ex in range(1,sess[0].exercises|length) %}
	<tr><td></td><td>{{sess[0].exercises[ex]}}</td></tr>
	{% endfor %}
	<tr><td>Location:</td><td>{{sess[0].location}}</td></tr>
	<tr><td>Notes:</td><td>{{sess[0].notes}}</td></tr>
	<tr></tr>
	</table></p>
	{% if session['user_id']==sess[0].creator_id or session['privileges']['isAdmin']==1 %}
	<p><a href ="{{url_for('editSession',session_id=sess[0].session_id)}}"><button>Edit</button></a>|<a href ="{{url_for('deleteSession',session_id=sess[0].session_id)}}"><button>Delete</button></a></p>
	{% endif %}
	</div>
</body>

</html>
