<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>
<body>
{% include 'TrainerPages/banner.html' %}
	<div id="container">
	
	<h1>All Trainers:</h1>
	{% for user in users %}
	<p><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{user.user_id}}">{{user.first_name}} {{user.last_name}}</button>
  <div id="demo{{user.user_id}}" class="collapse">
  
	<p><table>
	<tr><td>First Name:</td><td>{{user.first_name}}</td></tr>
	<tr><td>Last Name:</td><td>{{user.last_name}}</td></tr>
	<tr><td>Middle Name:</td><td>{{user.middle_name}}</td></tr>
	<tr><td>Username:</td><td>{{user.username}}</td></tr>
	<tr><td>Phone Number:</td><td>{{user.phoneNumber}}</td></tr>
	<tr><td>Email:</td><td>{{user.email}}</td></tr>
	<tr><td>Date Started:</td><td>{{user.dateStarted}}</td></tr>
	{% if trainer is none %}
	<tr><td>Trainer:</td><td>{{user.trainer_name}}</td></tr>
	{% endif %}
	</table></p>
	{% if 'privileges' in session and (session['user_id']==user.user_id or session['privileges']['isAdmin']==1) %}
	<a href="{{url_for('showAccount',user_id=user.user_id)}}">Edit</a>
	{% endif %}
	</div></p>
	{% endfor %}
	</div>
</body>
<table>

</html>