<html>
<head>
{% include 'TrainerPages/css_scripts.html' %}

</head>

	
<body>
{% include 'TrainerPages/banner.html' %}
	<div id="container">
	
	
	{% if trainer is not none %}
	<h1>{{trainer.first_name}} {{trainer.last_name}} client list:</h1>
	{% else %}
	<h1>All clients:</h1>
	{% endif %}
	{% for user in users %}
	<p><button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#demo{{user.user_id}}"><img alt="" src="{{user.pictures}}"style="width:32px;height:32px">{{user.first_name}} {{user.last_name}}</button>
  <div id="demo{{user.user_id}}" class="collapse">
  	<div >
  	<img alt=""  style="width:200px;height:200px" class="img-responsive" src="{{user.pictures}}">
	<p><table>
	<tr><td>First Name:</td><td>{{user.first_name}}</td></tr>
	<tr><td>Last Name:</td><td>{{user.last_name}}</td></tr>
	<tr><td>Middle Name:</td><td>{{user.middle_name}}</td></tr>
	<tr><td>Username:</td><td>{{user.username}}</td></tr>
	<tr><td>Phone Number:</td><td>{{user.phoneNumber}}</td></tr>
	<tr><td>Email:</td><td>{{user.email}}</td></tr>
	<tr><td>Date Started:</td><td>{{user.dateStarted}}</td></tr>
	{% if trainer is none %}
	<tr><td>Trainer:</td><td>{{user.trainer_name}}</td></tr>
	{% endif %}
	</table></p>
	{% if session['user_id']==user.user_id or session['privileges']['isAdmin']==1 %}
	<a href="{{url_for('showAccount',user_id=user.user_id)}}">Edit</a>
	{% endif %}
	</div>
	</div></p>
	{% endfor %}
	
	</div>
	
</body>
<table>

</html>