

#header {
    width: 100%;
    background-color: #021F40;
    height: 30px;
    text-align:right;
    color:white;
    font-size:  24px;
}
#header a:hover,#header a:visited,#header a:link,#header a:active
{
	color:white;
    text-decoration: none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
#header #lefthead{
	text-align: left;
	width:50%;
	float: left;
	
}
#header #righthead{
	text-align: right;
	width:50%;
	float:right;
	
}
#header button/*[type="submit"]*/ {
    border: 5;
    background: transparent;
    background-color:orange;
    color: white;
}

#container {
    width: 50%;
    height:700px;
    overflow: auto;
    background-color: #ffffff;
    margin: auto;
    text-align:center;
    padding: 1.0%;
}
#first {
    width: 249px;
    float: left;
    height: 700px;
        /*background-color: blue;*/    
    border-right: 1px solid #000000;
}
#second {
    width: 250px;
    float: left;
    height: 700px;
    /*background-color: green;*/
}
#clear {
    clear: both;
}


body{
	background-color: #dddddd;
}
.side{
	color: #D1DDEB; 
	font-weight: bold;
}
.category_items{
	color:#E84C66;
	font-weight: bold;
}
.category_items a:active { 
    color: #E84C66;
}
.category_items a:visited {
    color: #E84C66;
}
#itempage{
	text-align:left;
}
#itempage a:visited, #itempage a {
    color: #E84C66;
    font-weight: bold;
}
table{
	text-align: left;
}

/* This is the default structure of all the pages.
 *
<div id="header"></div>
<div id="container">
    <div id="first"></div>
    <div id="second"></div>
    <div id="clear"></div>
</div>
*/