        {% if 'username' in session and session['username']!= ''%}
            	{% if session['privileges']['isAdmin']==1 %}
            	
            	<li><a href="{{url_for('opAdminPage')}}">Admin Page</a></li>
            	{% endif %}
            {% endif %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" >Session<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('clientCalendar',mine=1)}}">My Sessions</a></li>
            <li><a href="{{url_for('clientSessAssign')}}">Signup for Session</a></li>
            <li><a href="{{url_for('newSession')}}"></a></li>             
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" >Gym Members<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('showUsers',mine=1)}}">Your Clients</a></li>
            <li><a href="{{url_for('showUsers')}}">All Clients</a></li>
            <li><a href="{{url_for('newUser')}}">Add Client</a></li>
            <li><a href="#">Email clients</a>
            <li><a href="#">Email Preferences</a>            
          </ul>
        </li>
        
        <!--  <li><a href="#">Ignore me :D</a></li>-->